<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
      <h1>Hello World</h1>
      <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
<<<<<<< HEAD
      <p><%= session[:item] %></p>
=======

>>>>>>> 2d7d2c8d5137a7a788702c65d71a9e6982f26b50
</body>
</html>